<section class="main-slider">
  <div class="grid grid-cols-1 lg:grid-cols-[70%_minmax(0,1fr)] rounded-2xl overflow-hidden border border-green-500">
    <div>
      <owl-carousel-o [options]="customMainOptions">
        @for (image of imagesUrl; track $index) {
          <ng-template carouselSlide>
            <img [src]="image" class="w-full h-[400px]" alt="slider-image" />
          </ng-template>
        }
      </owl-carousel-o>
    </div>
    <div class="grid grid-cols-2 md:block">
      <img src="/images/grocery-banner.png" class="w-full h-[200px]" alt="grocery-banner" />
      <img src="/images/grocery-banner-2.jpeg" class="w-full h-[200px]" alt="grocery-banner" />
    </div>
  </div>
</section>

<section class="popular-categories py-10 overflow-hidden">
  <h2 class="text-green-600 mb-4 font-bold text-3xl">{{"categories.title" | translate }}</h2>
  <owl-carousel-o [options]="customCategoriesOptions">
    @for (category of categories; track category._id) {
      <ng-template carouselSlide>
        <app-category-item [category]="category" ></app-category-item>
      </ng-template>
    }
  </owl-carousel-o>
</section>

<section class="popular-products">
  <h2 class="text-green-600 mb-4 font-bold text-3xl">{{"products.title" | translate }}</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-5">
    @for (product of products; track product.id) {
      <app-product-item [product]="product" ></app-product-item>
    }
  </div>
</section>
