<section>
  <div class="grid grid-cols-1 md:grid-cols-[65%_minmax(0,1fr)] gap-5 mt-5">
    <div class="col">
      <div class="title flex justify-between items-center">
        <div class="flex items-center gap-4">
          <h1 class="text-3xl font-bold text-green-600"> {{"cartPage.cart" | translate }} </h1>
          <span class="text-sm"> <span class="text-red-600 font-medium"> {{cartProductsCount}} </span>{{"cartPage.items" | translate }}</span>
        </div>
        <button (click)="clearCart()" class="clear-cart p-2 rounded-lg bg-green-600 text-white">{{"cartPage.clearBtn" | translate }}</button>
      </div>
      @for (product of cartProducts.products; track product.product.id ) {
        <div class="product flex items-center md:gap-5 rounded-lg border border-[#ccc] mt-4 overflow-hidden">
          <div class="image">
            <img [src]="product.product.imageCover" class="w-full h-[100px] object-contain" [alt]="product.product.title" />
          </div>
          <div class="content flex flex-1 justify-between items-center p-4">
            <div class="">
              <h2 class="text-green-600"> {{product.product.title}} </h2>
              <div class="flex items-center gap-5">
                <div class="btns bg-[#f6f6f6] border border-black rounded-lg p-1 w-[120px] flex justify-around mt-3">
                  <button (click)="updateQuantity(product.product.id, product.count - 1)" ><i class="fa-solid fa-minus"></i></button>
                  <span> {{product.count}} </span>
                  <button (click)="updateQuantity(product.product.id, product.count + 1)"><i class="fa-solid fa-plus"></i></button>
                </div>
                <button (click)="removeProduct(product.product.id)"><i class="fa-solid fa-trash text-green-600 text-xl mt-3"></i></button>
              </div>
            </div>
            <span class="price text-green-600"> {{product.price}} {{"cartPage.priceCode" | translate }}</span>
          </div>
        </div>
      } @empty {
        <div class="flex justify-center items-center h-full">
          <p class="text-red-600 text-2xl font-medium">{{"cartPage.cartEmpty" | translate }}</p>
        </div>
      }
    </div>
    <div class="col bg-[#f6f6f6] p-5 rounded-lg h-[400px]">
      <h3 class="text-2xl text-green-600 mb-2">{{"cartPage.orderTitle" | translate }}</h3>
      <div class="top pb-4 border-b border-b-[#ccc]">
        <div class="flex justify-between items-center mb-3">
          <strong>{{"cartPage.price" | translate }}</strong>
          <span> {{cartProducts.totalCartPrice}} {{"cartPage.priceCode" | translate }}</span>
        </div>
        <div class="flex justify-between items-center mb-3">
          <strong>{{"cartPage.discount" | translate }}</strong>
          <span> {{calculateDiscount()}} {{"cartPage.priceCode" | translate }}</span>
        </div>
        <div class="flex justify-between items-center mb-3">
          <strong>{{"cartPage.shipping" | translate }}</strong>
          <span class="text-green-600">{{"cartPage.free" | translate }}</span>
        </div>
        <div class="flex justify-between items-center mb-3">
          <strong>{{"cartPage.couponApplied" | translate }}</strong>
          <span>0.00 {{"cartPage.priceCode" | translate }}</span>
        </div>
      </div>
      <div class="middle pt-4">
        <div class="flex justify-between items-center mb-3">
          <strong>{{"cartPage.total" | translate }}</strong>
          <span> {{calculateTotal()}} {{"cartPage.priceCode" | translate }}</span>
        </div>
        <div class="flex justify-between items-center mb-3">
          <strong>{{"cartPage.estmaitedDelivery" | translate }}</strong>
          <strong> {{date | date}} </strong>
        </div>
      </div>
      <select (change)="paymentMethod($event)" class="p-2 w-full rounded-lg border-none outline-none shadow-none appearance-none" >
        <option class="p-1 mb-2" value="online" selected>{{"cartPage.online" | translate }}</option>
        <option class="p-1 mb-2" value="cash">{{"cartPage.cash" | translate }}</option>
      </select>
      <button [routerLink]="['/checkout', cartProducts._id]" [queryParams]="{'payment': payment}" class="p-[10px] bg-green-600 text-white transition-all duration-700 hover:bg-green-700 rounded-[25px] w-full mt-4">{{"cartPage.checkout" | translate }}</button>
    </div>
  </div>
</section>
