@if (inputControl()?.errors && inputControl()?.touched) {
  <div class="mt-1">
    <ul class="max-w-md space-y-1 text-red-600 list-none dark:text-gray-400">
      @if (inputControl()?.getError('required')) {
        <li> {{inputTitle()}} </li>
      } @else if(inputControl()?.getError('email')) {
        <li>enter valid email</li>
      } @else if (inputControl()?.getError('pattern')) {
        <li> {{inputMessage()}} </li>
      } @else if (inputControl()?.getError('minlength')) {
        <li>name should be more than or equal  3 chars</li>
      } @else if (inputControl()?.getError('maxlength')) {
        <li>name should be less than or equal  20 chars</li>
      }
    </ul>
  </div>
}
