<footer class="py-8 bg-gray-200">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="capitalize mb-5">
      <div>
        <h3 class="text-3xl text-green-600 mb-2 font-semibold"> {{'footer.title' | translate}} </h3>
        <p class="mb-4 text-gray-500">{{'footer.desc' | translate}}</p>
      </div>
      <div class="flex justify-between gap-5">
        <input type="email" class="flex-grow text-gray-500 outline-none border-none focus:border-none rounded-lg" placeholder="example:khaled@gmail.com" name="">
        <button class="p-2 bg-green-600 text-white rounded-lg">{{'footer.btn' | translate}}</button>
      </div>
    </div>
    <div class="capitalize flex flex-col md:flex-row gap-2 md:gap-0 justify-between">
      <div class="flex flex-col md:flex-row gap-2 md:gap-10 items-center">
        <h3 class="text-[25px] md:text-3xl text-green-600 mb-2 font-semibold">{{'footer.payments' | translate}}</h3>
        <div class="flex  space-x-4">
          <img src="/images/amazon-pay.png" class="size-10" alt="image-payment" />
          <img src="/images/mastercard.webp" class="size-10" alt="image-payment" />
          <img src="/images/American-Express-Color.png" class="size-10" alt="image-payment" />
          <img src="/images/paypal.png" class="size-10" alt="image-payment" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-2 md:gap-10 items-center">
        <h3 class="text-[25px] md:text-3xl text-green-600 mb-2 font-semibold">{{'footer.delivers' | translate}}</h3>
        <div class="flex space-x-4">
          <img src="/images/get-google-play.png" class="size-20" alt="google-play" />
          <img src="/images/get-apple-store.png" class="!m-0 size-[75px]" alt="apple-store" />
        </div>
      </div>
    </div>
  </div>
</footer>
